.x-overlay {
    height: 60px;
    width: 60px;
    background-color: #FA6900;
    border-radius: 5px;
    position: relative;
}

.x-overlay:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7";
    font-size: 30px;
    color: #FFF;
    line-height: 60px;
    text-align: center;
}
